// text-sizes


$h1_desktop: 3rem;

$h3_desktop: 1.375rem;

$text_desktop: 1.12rem;


// font-weights


$bold: 700;

$light: 300;


// line heights


$desktop-lh: 1.05;

$mobile-lh: 1.125;


// Mobile Friendliness


$h1_mobile: 2.5rem;

$h3_mobile: 1.5rem;

$text_mobile: 1rem;


// breathing space


$container_desktop: 2rem 4rem;

$container_mobile: 1.5rem;

$nav_padd: 1rem 1.5rem;
